# Binaries
**/bin/
**/bin-int/
bin-int/
intermediates/

# Mirage files
*.log

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj
**.json

# Directories
Mirage/vendor/VulkanSDK
Mirage Editor/assets/cache
scripts/__pycache__
